extends layout
block header
	.w3-card-4
		header.w3-container.w3-red
			h1(style='display:inline-block') 
				a.w3-button.w3-dark-red(href='http://localhost:4770/') FACEMARKET
			h1(style='display:inline-block;float:right')
				a.w3-button.w3-dark-red(href='http://localhost:4770/logout') Logout
		.w3-container
			.w3-row
				.w3-col.m3.l2
					img(src="/images/logo.jpg" alt="logo" style="width:100%;max-width:400px")
				.w3-col.m9.l10(style="padding-left: 30px; padding-right: 1px")
					br
					form.w3-container(method='POST' action='/search')
						.w3-row-padding
							.w3-third 
								h1(style="font-size: 25px") Choose market:
								.w3-checkbox
									input(type = "radio" name = "market" value = "commodity" checked)
									label  Commodities
								.w3-checkbox
									input(type = "radio" name = "market" value = "crypto")
									label  Crypto
								.w3-checkbox
									input(type = "radio" name = "market" value = "forex")
									label  Forex
								.w3-checkbox
									input(type = "radio" name = "market" value = "stock")
									label  Stocks
							.w3-third
								select(name='commodity' style='margin:10px')
									option(value='FB') Facebook
								br
								select(name='crypto' style='margin:10px')
									option(value='FB') Facebook
								br
								select(name='forex1' style='margin:10px')
									option(value='FB') Facebook
								select(name='forex2' style='margin:10px')
									option(value='FB') Facebook
								br
								select(name='stock' style='margin:10px')
									option(value='FB') Facebook
							.w3-third 
								h1(style="font-size: 25px") Choose periodicity:
								.w3-checkbox
									input(type = "radio" name = "periodicity" value = "hourly" checked)
									label  Hourly
								.w3-checkbox
									input(type = "radio" name = "periodicity" value = "daily")
									label  Daily
								.w3-checkbox
									input(type = "radio" name = "periodicity" value = "weekly")
									label  Weekly
								.w3-checkbox
									input(type = "radio" name = "periodicity" value = "monthly")
									label  Monthly
						input.w3-button.w3-gray.w3-right.w3-round-xxlarge(type="submit" value="Submit" style='padding:8px 29px')
					hr
					block content